@using SearcheyMcSearchface.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Searchy McSearchFace</h1>
</div>

@Html.Partial("_Search", new SearchViewModel())

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Searchy McSearchface searches text, relations and tags (keywords) in all Fourth (Adaco) wikis and documents
        </p>
    </div>
</div>