@model SearcheyMcSearchface.Models.SearchViewModel

<div id="search">
    @using (Ajax.BeginForm("Search", "Search", new AjaxOptions { UpdateTargetId = "search", HttpMethod = "GET"}))
    {
        @Html.EditorFor(m => m.Text)

        <input type="submit" name="SearchButton" value="Search" />
    }

    @if (Model.Results != null)
    {
        <div>Results for @Model.Text :</div>
        foreach (var result in Model.Results)
        {
            @Html.Partial("_SearchResult", result)
        }
    }
</div>