@model SearcheyMcSearchface.Models.SearchViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (IsAjax || Model.Results == null)
    {
        Layout = null;
    }
}

<div id="search" style="margin-top: 20px;">
    @using (Ajax.BeginForm("Search", "Search", new AjaxOptions { UpdateTargetId = "search", HttpMethod = "GET" }))
    {
        @Html.EditorFor(m => m.Text)
        <input type="submit" name="SearchButton" value="Search"/>
    }

    @if (Model.Results != null)
    {
        <div style="margin-top: 40px;">
            @foreach (var result in Model.Results)
            {
                @Html.Partial("_SearchResult", result)
                ;
            }
        </div>
    }
</div>