@using SearcheyData.Entities
@model ICollection<SearcheyData.Entities.Tag>

<div class="row">
    Tags:
    @if (@Model != null)
    {
        foreach (Tag tag in @Model)
        {
            <div class="col-sm-offset-1">@tag</div>
        }
    }
</div>