@using SearcheyData.Entities
@model ICollection<SearcheyData.Entities.Tag>
<div class="row">
    @if (@Model != null)
    {
        foreach (Tag tag in @Model)
        {
            string labelType = tag.TfIdf > 120 ? "label label-primary" : "label label-default";
            <span class="@labelType">@Html.ActionLink(@tag.Text, "Search", "Search", new { tag.Text }, new { style = "color:white" })</span>
        }
    }
</div>